body {
  background-color: white;
}

h1 {
  border: 10px #DE1B1B outset ;
  color: #2B2B2B;
  padding: 15px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #F6F6F6;
}

h1.image {
  padding: 0;
}

p1 {
  font-family: verdana;
  color: red;
  font-size: 20;
  text-align: center;
}

.box1 {

  border: 5px #DE1B1B outset;
  width: 50%;

  margin: 0px;
  margin-top: 50px;
  margin-bottom: 50px;

  padding: 20px;

  font-family: verdana;
  font-size: 20;
  text-align: center;
  background-color: #F6F6F6;
  color: black;

}

/*input[type = submit], [type = button] {
  background-color: #DE1B1B;
  color: white;
  padding: 16px 32px;
  cursor: pointer;
}*/

/*ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 200px;
  background-color: #DE1B1B;
}*/

.left_menu_box2 {
  background-color: #DE1B1B;
  width: 170px;
  display: inline-block;
}

.left_menu_box2 button{
  display: block;
  padding: 20px;
  transition: all 0.2s ease;
  text-decoration: none;

  background-color: #DE1B1B;
  color: #F6F6F6;
  font-size: 20;
}

.left_menu_box2 button:hover {
  background-color: #F6F6F6;
  color: #2B2B2B;
}

.left_menu_box2 button:active {
  background-color: #E9E581;
  color: #2B2B2B;
}

.top_logo {
  margin-bottom: 50px;
  padding: 10px;
  border: 15px;
  border-color: #DE1B1B;
}

#dice_game {
  border-style: solid;
  border-width: 5px;
  border-color: #DE1B1B;
  display: inline-block;
  width: 75%;
}

#dice_box {
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

#multiplier_dice_box {
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.dice {
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  padding: 5px;
  width: 100px;
  length: 100px;
}

#log_in_box {
  
}
